#gallery {
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
}

img {
    width: 100px;
    margin-right: 30px;
    opacity: 80%;
} 

img:hover {
    opacity: 100%;
    transform: scale(1.1)
}

ul#ingredients li {
    padding-left: 40px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.label-invalid {
    display: block;
    color: red;
}

.task {
    border: 2px solid grey;
    margin-bottom: 20px;
    padding: 20px;
}

input:focus {outline:0;}